<div class="container">
  <div class="row">
    <!-- チャンネル系 -->
    <div class="span12">
      <a class="btn btn-primary btn-large remocon-button marquee" id="ch1">
        <span class="station-name">nhk</span>
        <span class="program-info"></span>
      </a>
      <a class="btn btn-primary btn-large remocon-button marquee" id="ch2">
        <span class="station-name">etv</span>
        <span class="program-info"></span>
      </a>
      <a class="btn btn-primary btn-large remocon-button marquee" id="ch3">
        <span class="station-name">chiba</span>
        <span class="program-info"></span>
      </a>
    </div>
    <div class="span12">
      <a class="btn btn-primary btn-large remocon-button marquee" id="ch4">
        <span class="station-name">ntv</span>
        <span class="program-info"></span>
      </a>
      <a class="btn btn-primary btn-large remocon-button marquee" id="ch5">
        <span class="station-name">asahi</span>
        <span class="program-info"></span>
      </a>
      <a class="btn btn-primary btn-large remocon-button marquee" id="ch6">
        <span class="station-name">tbs</span>
        <span class="program-info"></span>
      </a>
    </div>
    <div class="span12">
      <a class="btn btn-primary btn-large remocon-button marquee" id="ch7">
        <span class="station-name">tokyo</span>
        <span class="program-info"></span>
      </a>
      <a class="btn btn-primary btn-large remocon-button marquee" id="ch8">
        <span class="station-name">fuji</span>
        <span class="program-info"></span>
      </a>
      <a class="btn btn-primary btn-large remocon-button marquee" id="ch9">
        <span class="station-name">mx</span>
        <span class="program-info"></span>
      </a>
    </div>
    <!-- 番組情報表示 -->
    <div class="row collapse" id="program-info">
      <div class="span12">
        <div class="span12 expander">
          <div class="progress">
            <div class="bar" style="width: 0%;"></div>
          </div>
          <div class="program-info-header">
            <span class="start-time"></span>
            <span class="program-info-station-name"></span>
            <span class="end-time"></span>
          </div>
          <h4></h4>
          <p class="content"></p>
          <a class="btn close-display-info" data-toggle="collapse" data-target="#program-info"><i class="icon-chevron-up icon-white"></i></a>
        </div>
      </div>
    </div>
    <!-- メインスイッチ系 -->
    <div class="span12">
      <a class="btn btn-primary btn-large remocon-button" id="switchInput"></a>
      <a class="btn btn-primary btn-large remocon-button" id='recordList'><i class="icon-list icon-white"></i></a>
      <a class="btn btn-danger btn-large remocon-button" id='power'><i class="icon-off icon-white"></i></a>
    </div>
    <!-- ボリューム系 -->
    <div class="span12">
      <a class="btn btn-warning btn-large remocon-button" id='volumeOff'><i class="icon-volume-off icon-white"></i></a>
      <a class="btn btn-warning btn-large remocon-button" id='volumeDown'><i class="icon-volume-down icon-white"></i></a>
      <a class="btn btn-warning btn-large remocon-button" id='volumeUp'><i class="icon-volume-up icon-white"></i></a>
    </div>
    <!-- 画面切り替え系 -->
    <div class="span12">
      <a class="btn btn-primary btn-large remocon-button" id='back'><i class="icon-undo icon-white"></i></a>
      <a class="btn btn-primary btn-large remocon-button" id='finish'><i class="icon-remove icon-white"></i></a>
      <a class="btn btn-primary btn-large remocon-button" id='tvListings'><i class="icon-table icon-white"></i></a>
    </div>
    <!-- up/downボタン -->
    <div class="span12">
      <a class="btn up-down-button" data-toggle="collapse" data-target="#arrowMode"><i class="icon-chevron-up icon-white"></i><i class="icon-chevron-down icon-white"></i></a>
    </div>
    <!-- 矢印系 -->
    <div class="row collapse" id="arrowMode">
      <div class="span12">
        <div class="span12">
          <a class="btn btn-primary btn-large remocon-button" id='doubleLeft'><i class="icon-chevron-left icon-white"></i><i class="icon-chevron-left icon-white"></i></a>
          <a class="btn btn-info btn-large remocon-button" id='up'><i class="icon-chevron-up icon-white"></i></a>
          <a class="btn btn-primary btn-large remocon-button" id='doubleRight'><i class="icon-chevron-right icon-white"></i><i class="icon-chevron-right icon-white"></i></a>
        </div>
        <div class="span12">
          <a class="btn btn-info btn-large remocon-button" id='left'><i class="icon-chevron-left icon-white"></i></a>
          <a class="btn btn-primary btn-large remocon-button" id='ok'>OK</a>
          <a class="btn btn-info btn-large remocon-button" id='right'><i class="icon-chevron-right icon-white"></i></a>
        </div>
        <div class="span12">
          <a class="btn btn-primary btn-large remocon-button" id='doubleUP'><i class="icon-chevron-up icon-white"></i><i class="icon-chevron-up icon-white"></i></a>
          <a class="btn btn-info btn-large remocon-button" id='down'><i class="icon-chevron-down icon-white"></i></a>
          <a class="btn btn-primary btn-large remocon-button" id='doubleDown'><i class="icon-chevron-down icon-white"></i><i class="icon-chevron-down icon-white"></i></a>
        </div>
        <!-- 色指定動作系 -->
        <div class="span12">
          <a class="btn btn-danger btn-large remocon-button" id='red'><i class="icon-heart icon-white"></i></a>
          <a class="btn btn-success btn-large remocon-button" id='green'><i class="icon-leaf icon-white"></i></a>
          <a class="btn btn-warning btn-large remocon-button" id='yellow'><i class="icon-trophy icon-white"></i></a>
        </div>
        <div class="span12">
          <a class="btn btn-primary btn-large remocon-button disabled">&nbsp; </a>
          <a class="btn btn-primary btn-large remocon-button" id='blue'><i class="icon-umbrella icon-white"></i></a>
          <a class="btn btn-primary btn-large remocon-button disabled">&nbsp; </a>
        </div>
      </div>
    </div>
    <!-- up/downボタン -->
    <div class="span12">
      <a class="btn up-down-button" data-toggle="collapse" data-target="#playMode"><i class="icon-chevron-up icon-white"></i><i class="icon-chevron-down icon-white"></i></a>
    </div>
    <!-- 再生機能系 -->
    <div class="row collapse" id="playMode">
      <div class="span12">
        <div class="span12">
          <!-- <div> -->
          <a class="btn btn-primary btn-large remocon-button" id='backward'><i class="icon-backward icon-white"></i></a>
          <a class="btn btn-primary btn-large remocon-button" id='play'><i class="icon-play icon-white"></i></a>
          <a class="btn btn-primary btn-large remocon-button" id='forward'><i class="icon-forward icon-white"></i></a>
        </div>
        <div class="span12">
          <a class="btn btn-primary btn-large remocon-button" id='fastBackward'><i class="icon-fast-backward icon-white"></i></a>
          <a class="btn btn-primary btn-large remocon-button" id='stop'><i class="icon-stop icon-white"></i></a>
          <a class="btn btn-primary btn-large remocon-button" id='fastForward'><i class="icon-fast-forward icon-white"></i></a>
        </div>
        <div class="span12">
          <a class="btn btn-primary btn-large remocon-button disabled">&nbsp; </a>
          <a class="btn btn-primary btn-large remocon-button" id='pause'><i class="icon-pause icon-white"></i></a>
          <a class="btn btn-primary btn-large remocon-button disabled">&nbsp; </a>
        </div>
      </div>
    </div>
  </div>
</div>
