body {
  background-color: #180a50;
}
h3 {
  color: #ffffff;
}
.remocon-button {
  width: 70px;
  height: 20px; /*文字サイズと合わせる*/
  padding: 22px 10px;
  margin-bottom: 4px;
}
.up-down-button {
  width: 257px;
  padding: 5px 10px;
  margin-bottom: 4px;
}
.close-display-info {
  width: 257px;
  padding: 2px 10px;
  margin-bottom: 0px;
}
.marquee {
  position:relative;
  overflow:hidden;
}
/* テレビ局名表示用span */
.station-name {
  position:absolute;/*アンカーの属性から逃れるために絶対位置を指定*/
  top: 8px;
  left: 0px;/*bootstrapのspan属性を継承しないように直接指定*/
  width: 90px;/*ボタンの幅*/
}
/* 番組情報表示用span */
.program-info {
  position:absolute;/*アンカーの属性から逃れるために絶対位置を指定*/
  top: 36px;
  left: 0px;/*bootstrapのspan属性を継承しないように直接指定*/
  white-space: nowrap;
  display: block;
}
.expander {
  background: #ddd;
  top: auto;
  width: 277px;
  margin-bottom: 4px;
  position: relative;
}
.expander h4 {
  text-align: center;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}
.expander p {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
}
.program-info-header {
  text-align: center;
}
span.start-time {
  color: #888;
  padding-left: 10px;
  float: left;
}
span.end-time {
  color: #888;
  padding-right: 10px;
  float: right;
}
span.program-info-station-name {
  color: #888;
  float: center;
}
.progress {
  margin-bottom: 0px;
}
